---
layout: default
title: blog
---

<h2>test posts</h2>
<ul>
  {% for post in site.posts %}
  {% if post.tag == test %}
  <p>{{ post.tag }}</p>
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      {{ post.excerpt }}
    </li>
  {% endif %}
  {% endfor %}
</ul>

<h2>not test posts</h2>
<ul>
  {% for post in site.posts %}
  {% if post.tag == notest %}
  <p>{{ post.tag }}</p>
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      {{ post.excerpt }}
    </li>
  {% endif %}
  {% endfor %}
</ul>
