---
layout: default
title: Plants
---

<h1>Gesneriads</h1>
<ul>
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == "gesneriads" %}
    <a href="{{ post.url }}"><div>
    <img src="{{ post.img }}" width="100", style="float: left; margin-right: 10px">
    {{ post.excerpt }}
    </div></a>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>

<h1>Orchids</h1>
<ul>
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == "orchids" %}
    <a href="{{ post.url }}"><div>
    <img src="{{ post.img }}" width="100", style="float: left; margin-right: 10px">
    {{ post.excerpt }}
    </div></a>  
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>

<h1>Other Plants</h1>
<ul>
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == "other_plants" %}
    <a href="{{ post.url }}"><div>
    <img src="{{ post.img }}" width="100", style="float: left; margin-right: 10px">
    {{ post.excerpt }}
    </div></a>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>
